asyncio
asyncpg
boto3
confluent-kafka
databases
dependency-injector
fastapi
fastapi-oidc
fastapi_utils
fastapi-versioning
httpx
hvac
loguru
pydantic
psycopg2-binary
pyjwt
pytest
pytest-asyncio
pytest-cov
python-multipart
SQLAlchemy
uvicorn